@import '~antd/dist/antd.css';

.App {
  text-align: center;
  color: #ffffff;
}

.App-header {
  min-height: 5vh;
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.App-header-menu {
  border-bottom: 0;
}

.App-content {
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content > h1 {
  font-size: 4em;
}

.App-footer {
  min-height: 5vh;
  background-color: #f9f9f9;
}

.button-search-recipes {
  margin-top: 20px;
}